#Movie_Library
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px;
    gap:30px
    
}

h1{
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,#231557 0%, #44107a 29%, #ff1361 67%, #34e011 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textani 2s linear infinite;
    font-size: 30px;
  }

@keyframes textani 
{
  to {
       background-position: 200% center;
     }
}
    
.movie
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(236, 11, 86);
    border-radius: 10px;
    box-shadow: 5px 5px rgb(216, 84, 128);
    transition: all 2s ease-in-out;
    color: rgb(145, 6, 126); 
}
.movie img
{
    height: 200px;
    width: 250px;

}
.movie:hover
{
  scale: 1.05;
}
